# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore Django secrets
.env  # Ignore real env file
!.env.example  # But allow the example file
*.sqlite3

# Ignore IDE & Editor Configs
.vscode/
.idea/
*.swp

# Ignore Logs & Temp Files
*.log
*.tmp

# Ignore Static & Media Files (If Managed Elsewhere)
staticfiles/
media/


